#issueTable:hover {
    cursor: pointer;
}

h1 {
    display: inline-block;
    margin-right: 10px;
}

body {
    background-color: #eee;
}

.fydp-year-header {
    background-color: #9fcdff;
}

.exec-year-header {
    background-color: #28a745;
}

.underline {

}

.coord-btn {
    margin-top: 2px;
    margin-bottom: 10px;
}